/* Reset CSS, margin y padding, porque valor
 por defecto varía entre navegadores */
*{
    margin: 0;
    padding: 0;
}

/* ------------------Estilo del header y nav------------------*/

a{
    color: #252422;
    text-decoration: none;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}
li{
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}
iframe{
    width: 20rem;
    height: 10rem;
}
.separation{
    padding-top: 2%;
    padding-bottom: 2%;
}
.imgChica{
    width: 3.5rem;
    height: 3.5rem;
}
/* Establezco el tamaño de fuente en 0px
    ya que queda espacio entre divs y
    alineo horizontalmente al centro cada uno*/
header{
    background-color: #252422;
    text-align: center;
    font-size: 0px; 
    height: 8rem;
    width: 100%;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 20;
}
header nav{
    position: relative; 
    top: 0%;
    left: 0%;
    height: 100%;
/*  Utilizando flex, la alineación vertical
    se hace con dos lineas:
    display: flex;
    align-items: center; */
}
/* El logo del navbar comienza en 0 y 
ocupa el 25% del nav*/
.navBar_div_logo{
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 100%;
    left: 0%;
    overflow: hidden;
}
/* El apartado de opciones comienza al 75%
y ocupa el 25% del nav*/
.navBar_div_opciones{
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 100%;
    left: 75%;
    overflow: hidden;
}
/* La lista del navbar ocupa el 50% central
a partir del 25%*/
.navBar_div_list{
    position: absolute;
    display: inline-block;
    width: 50%;
    top: 35%;
    left: 25%;
}
/* Cada elemento de la lista del nav*/
body header nav div.navBar_div_list ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10%;
}
/* Estilo del logo*/
.navBar_logo{
    height: 100%;
    width: 14rem;
    max-height: 4rem;
    margin: 2rem 100% 2rem 8%;
}
/* Estilo de los enlaces*/
.navBar_a{
    color: #fffcf2;
    font-size: 130%;
}
/* Estilo del icono del apartado de opciones*/
.navBar_opciones{
    height: 100%;
    width: 2rem;
    max-height: 2rem;
    margin: 3rem 16% 2rem 80%;
}

/* ------------------Parallax------------------*/

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
	max-width: 100%;
	position: relative;
}
	
.back_uno{background-color: #ccc5b9;}

.back-dos{background-color: #252422;}

.back-tres{background-color: #403d39;}

/* ------------------Secciones index------------------*/
main div.floatingBar{
    background-color: blue;
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 20;
    width: 5%;
}
main section#overview{
    height: 40rem;
}
main section#about_us{
    height: 45rem;
    color: #ccc5b9;
}
main section#research{
    height: 40rem;
    color: #ccc5b9;
}
.articleSectionMain{
    height: 100%;
}
.divSectionMain{
   text-align: center;
   height: 100%;
   width: 100%;
}

.divImagenFondoIzquierda{
    position: absolute;
    left: 0%;
    top: 0%;
}
main section#about_us article div div.separation{
    position: relative;
    z-index: 10;
}
main section#about_us article div div.separation img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    padding-right: 2rem;
    padding-left: 2rem;
}
main section#about_us article div p{
    position: relative;
    left: 25%;
    width: 50%;
    z-index: 10;
}
main section#about_us article div div ul li{
    display: inline-block;
    background-color: #eb5e28;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: 8rem;
}
main section#about_us article div div ul li a{
    position: relative;
    top: 30%;
    color: #ccc5b9;
    font-size: large;
}

main section#research article div div ul{
    list-style-type: none;
    position: relative;
    left: 5%;
    width: 90%;
    height: 20rem;
    overflow-y: scroll;
}
main section#research article div div ul li{
    border: 4px groove #ccc5b9;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.izquierda{
    display: inline-block;
    position: relative;
    left: 0%;
    top: 0%;
    width: 20rem;
    overflow: hidden;
}
.derecha{
    display: inline-block;
    position: relative;
    top: 0%;
    left: 1%;
    width: 55%;
}
main section#research article div div ul li a img{
    width: 15rem;
    height: 15rem;
}
main section#research article div div ul li p{
    text-align: justify;
}

/* ------------------Footer------------------*/

footer div{
    z-index: 40;
}
.divLogoFooter{
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    background-color: #eb5e28;
    font-size: 0%;
    height: 6rem;
    width: 100%;
    /*  Utilizando flex, la alineación vertical
    se hace con dos lineas:
    display: flex;
    align-items: center; */
}

.liLogoFooter
{
    height: 100%;
    display: inline-block;
    width: 20%;
    top: 20%;
}
.logoLN{
    position: absolute;
    left: 0%;
}
.logoTW{
    position: absolute;
    left: 20%;
}
.logoEMAIL{
    position: absolute;
    left: 40%;
}
.logoGIT{
    position: absolute;
    left: 60%;
}
.logoSP{
    position: absolute;
    left: 80%;
}


.divFin{
    background-color: #ccc5b9;
    height: 24rem;
    position: relative;
    top: 0%;
    left: 0%;
}
.brioplant_footer{
    width: 25%;
    position: absolute;
    left: 0%;
    height: 100%;
}
.info_footer{
    width: 50%;
    position: absolute;
    left: 25%;
    height: 100%;
}
.insti_footer{
    width: 25%;
    position: absolute;
    left: 75%;
    height: 100%;
}
footer div div.brioplant_footer img{
    position: absolute;
    width: 13rem;
    height: 14rem;
    left: 30%;
    top: 15%;
}
footer div div.brioplant_footer p{
    position: absolute;
    left: 40%;
    top: 75%;
}
.logoIAL{
    position: absolute;
    width: 10rem;
    height: 5rem;
    left: 0%;
    top:20%;
}
.logoBGI{
    position: absolute;
    width: 10rem;
    height: 5rem;
    left: 50%;
    top:20%;
}
.logoUNER{
    position: absolute;
    width: 10rem;
    height: 5rem;
    left: 0%;
    top: 60%
}
.logoCoderhouse{
    position: absolute;
    width: 11rem;
    height: 4rem;
    left: 50%;
    top: 60%;
}

.div_footer_databases{
    display: inline-block;
    position: absolute;
    left: 30%;
    width: 33.33%;
    top: 30%;
}
.div_footer_softwares{
    display: inline-block;
    position: absolute;
    left: 45%;
    width: 33.33%;
    top: 30%;
}
.div_footer_info{
    display: inline-block;
    position: absolute;
    left: 60%;
    width: 33.33%;
    top: 30%;
}
footer div div ul.list_footer_databases{
    list-style-type: none;
}
footer div div ul.list_footer_softwares{
    list-style-type: none;
}
footer div div ul.list_footer_info{
    list-style-type: none;
}
footer div div.info_footer hr{
    position: absolute;
    left: 30%;
    top: 35%;
    width: 40%;
}

/* ------------------Lobby------------------*/

#lobby{
    width: 100%;
    height: 46rem;
    background-image: url("../images/lobby_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#lobby article{
    position: relative;
    top: 0%;
    left: 0%;
}
#lobby article div h2{
    text-align: center;
    color: #ccc5b9;
}
.listaVertical{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#lobby article div.playlists{
    position: absolute;
    top: 15rem;
    left: 7%;
    width: 22rem;
    height: 20rem;
}
#lobby article div.data{
    color: #ccc5b9;
    position: absolute;
    text-align: center;
    top: 3rem;
    left: 35%;
    width: 30%;
}
#lobby article div.data div button{
    position: absolute;
    width: 6rem;
    height: 2rem;
    left: 11.5rem;
    top: 31rem;
}
#lobby article div.songs{
    position: absolute;
    top: 15rem;
    left: 70%;
    width: 22rem;
    height: 20rem;
}
#lobby article div ul li{
    width: fit-content;
    height: fit-content;
}