@charset "UTF-8";
/* Reset CSS, margin y padding, porque valor
 por defecto varía entre navegadores */
/*
*  html5resetcss
*/
/*
*  html5resetcss
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* ------------------Estilo del header y nav------------------*/
header {
  position: sticky;
  top: 0%;
  left: 0%;
  margin-top: -4rem;
  width: 100%;
  height: 4rem;
  min-width: 300px;
  background-color: #252422;
  z-index: 50;
}

.large-screen-options {
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .large-screen-options {
    display: none;
  }
}

.medium-screen-options {
  display: none;
}
@media screen and (max-width: 768px) {
  .medium-screen-options {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .medium-screen-options {
    display: none;
  }
}

.grid-container-navBar {
  display: grid;
  grid-template-areas: ".link-logo-nav .large-screen-options button";
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .grid-container-navBar {
    grid-template-areas: ".link-logo-nav .medium-screen-options svg";
  }
}
@media screen and (max-width: 576px) {
  .grid-container-navBar {
    grid-template-areas: ".link-logo-nav .medium-screen-options";
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    background-color: #252422;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-item {
    color: #ccc5b9;
  }
}
@media screen and (max-width: 768px) {
  .dropdown-item:active {
    background-color: #eb5e28;
  }
}

.link-logo-nav {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5%;
}
body header nav ul li a {
  color: #ccc5b9;
  font-size: 130%;
}
body header nav ul li a:hover {
  background-color: #eb5e28;
}
body header nav button {
  background-color: transparent;
  justify-self: end;
  height: 100%;
}
body header nav svg {
  color: #eb5e28;
}

/* Estilo de los enlaces*/
.offcanvas {
  color: #ccc5b9;
  background-color: #252422;
}

@media screen and (max-width: 576px) {
  .offcanvas-body-medium-large {
    display: none;
  }
}

.offcanvas-body-small {
  display: none;
}
@media screen and (max-width: 576px) {
  .offcanvas-body-small {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    background-color: transparent;
    padding: 0%;
    border: none;
    color: #ccc5b9;
    font-size: 130%;
  }
  .btn:hover {
    background-color: #eb5e28;
    border: none;
  }
}

.btn-close {
  height: 80%;
  width: 10%;
  --bs-btn-close-bg: none;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(235, 94, 40, 0.25);
}
.btn-close svg {
  color: #eb5e28;
}

.list-side-bar {
  text-align: center;
}
.list-side-bar li {
  font-size: 1rem;
  width: 100%;
  border: none;
  margin-top: 2rem;
  color: #ccc5b9;
  --bs-list-group-border-radius: none;
  --bs-list-group-border-width: none;
  --bs-list-group-bg: #252422;
  border-radius: none;
}
.list-side-bar li:hover {
  background-color: #eb5e28;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item.active {
  color: var(--bs-list-group-active-color);
  background-color: #eb5e28;
  border-color: transparent;
}

footer {
  position: relative;
  left: 0%;
  top: 0%;
  min-width: 300px;
  background-color: #ccc5b9;
  z-index: 40;
}

.grid-container-footer {
  height: 30rem;
  width: 100%;
  display: grid;
  grid-template-areas: "social social social" "brioplants list-data list-data" "institutions institutions institutions" "copyright copyright copyright";
  grid-template-columns: 30% 40% auto;
  grid-template-rows: 20% 50% auto 5%;
}
@media screen and (max-width: 768px) {
  .grid-container-footer {
    height: 35rem;
    grid-template-areas: "social social social" "brioplants list-data list-data" "institutions institutions institutions" "copyright copyright copyright";
    grid-template-columns: 30% 40% auto;
    grid-template-rows: 20% 45% auto 9%;
  }
}
@media screen and (max-width: 576px) {
  .grid-container-footer {
    height: 40rem;
    grid-template-areas: "social" "list-data" "institutions" "brioplants" "copyright";
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 17% auto 6%;
  }
}

.social-networks-list {
  grid-area: social;
  background-color: #eb5e28;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-brioplants {
  grid-area: brioplants;
  align-self: center;
  justify-self: center;
}
.logo-brioplants img {
  width: 10rem;
  height: 10rem;
}
@media screen and (max-width: 576px) {
  .logo-brioplants img {
    width: 8rem;
    height: 8rem;
  }
}

.list-footer-container {
  grid-area: list-data;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.list-footer-container p {
  font-size: 1.5rem;
  border-bottom: #252422 solid 2px;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 576px) {
  .list-footer-container p {
    font-size: 1rem;
  }
}
.list-footer-container li {
  padding-bottom: 0.2rem;
}
.list-footer-container li a {
  font-size: 1rem;
}
@media screen and (max-width: 576px) {
  .list-footer-container li a {
    font-size: 0.8rem;
  }
}
.list-footer-container li a:hover {
  color: #eb5e28;
  text-decoration: underline;
}

.list-institutions {
  grid-area: institutions;
  overflow: hidden;
}

.copyright {
  grid-area: copyright;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .copyright p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .copyright p {
    font-size: 0.8rem;
  }
}

/* ------------------Background------------------*/
.background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.back-uno {
  background-color: #ccc5b9;
}

.back-dos {
  background-color: #252422;
}

.back-tres {
  background-color: #403d39;
}

/* ------------------Secciones index------------------*/
.float-bar {
  position: fixed;
  left: calc(100vw - 170px);
  top: calc(100vh - 170px);
  z-index: 30;
}
.float-bar li a {
  color: #eb5e28;
  font-size: 1.3rem;
}
.float-bar .list-group-item {
  background-color: transparent;
  border-color: #eb5e28;
}
.float-bar .list-group-item.active {
  background-color: #eb5e28;
}
.float-bar .list-group-item.active a {
  color: #252422;
}
@media screen and (max-width: 576px) {
  .float-bar {
    display: none;
  }
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #eb5e28;
  background-color: inherit;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Tamaño y colores de texto de las secciones*/
#index {
  min-width: 300px;
}
#index section#about-us {
  padding-top: 4rem;
  color: #ccc5b9;
  min-height: 55rem;
}
@media screen and (max-width: 768px) {
  #index section#about-us {
    min-height: 950px;
  }
}
@media screen and (max-width: 576px) {
  #index section#about-us {
    height: 90rem;
  }
}
#index section#research {
  padding-top: 4rem;
  color: #ccc5b9;
  min-height: 55rem;
}

/* -----------Seccion overview-----------*/
#index section#overview article div img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #eb5e28;
}

/* -----------Seccion about-us-----------*/
/* Ubico imagen anexa de fondo (ADN dorado)*/
.divBackgroundImage {
  display: flex;
  justify-content: start;
  align-content: center;
}
@media screen and (max-width: 576px) {
  .divBackgroundImage {
    justify-content: center;
  }
}
.divBackgroundImage img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

#index section#about-us article {
  display: grid;
  grid-template-areas: "presentation" "cards" "disciplines";
  grid-template-rows: 25% 50% auto;
}
@media screen and (max-width: 768px) {
  #index section#about-us article {
    display: grid;
    grid-template-areas: "presentation" "cards";
    grid-template-rows: 40% auto;
  }
}

.divPresentation {
  grid-area: presentation;
  text-align: center;
}
.divPresentation div p {
  z-index: 10;
  width: 70%;
  border: #eb5e28 solid 2px;
  background-color: #403d39;
}
@media screen and (max-width: 768px) {
  .divPresentation div p {
    overflow-y: scroll;
  }
}
@media screen and (max-width: 576px) {
  .divPresentation div p {
    width: 90%;
    max-height: 436px;
  }
}

.divCards {
  grid-area: cards;
}
.divCards img {
  border-radius: 50%;
}

.divDisciplines {
  grid-area: disciplines;
  text-align: center;
}
.divDisciplines ul {
  position: relative;
  z-index: 10;
}
.divDisciplines ul li {
  background-color: #eb5e28;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.divDisciplines ul li a {
  text-align: center;
  color: #ccc5b9;
  font-size: large;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .divDisciplines {
    display: none;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* This container is needed to position the front and back side */
.flip-card {
  width: calc(22vw - 10px);
  height: calc(22vw - 10px);
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: calc(22vw - 10px);
  height: calc(22vw - 10px);
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  border-radius: 50%;
  width: calc(22vw - 10px);
  height: calc(22vw - 10px);
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
}
.flip-card-front img {
  width: calc(22vw - 10px);
  height: calc(22vw - 10px);
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
}

/* Style the back side */
.flip-card-back {
  background-color: #eb5e28;
  color: #ccc5b9;
  transform: rotateY(180deg);
  border-radius: 50%;
  width: calc(22vw - 10px);
  height: calc(22vw - 10px);
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
}
.flip-card-back h3 {
  margin-top: 1rem;
}
.flip-card-back p {
  width: 60%;
}

/* -----------Sección research-----------*/
#index section#research article {
  height: 100%;
  text-align: center;
}
#index section#research article div {
  display: flex;
  justify-content: center;
  align-content: center;
}
#index section#research article div p {
  max-height: 436px;
  margin-bottom: 2rem;
  width: 70%;
  border: #eb5e28 solid 2px;
  background-color: #403d39;
}
@media screen and (max-width: 768px) {
  #index section#research article div p {
    overflow-y: scroll;
  }
}
#index section#research article .divListResearch {
  height: 65%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#index section#research article .divListResearch ul {
  width: 90%;
  height: auto;
  overflow-y: scroll;
}
@media screen and (max-width: 576px) {
  #index section#research article .divListResearch ul {
    margin-bottom: 6.5rem;
  }
}
#index section#research article .divListResearch ul li {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border: 4px groove #ccc5b9;
  padding-top: 1%;
  padding-bottom: 1%;
}
#index section#research article .divListResearch ul li a {
  display: flex;
  align-items: center;
}
#index section#research article .divListResearch ul li a img {
  aspect-ratio: 12/12;
  min-width: 200px;
  width: calc(16vw - 10px);
}
#index section#research article .divListResearch ul li p {
  max-height: none;
  border: #ccc5b9 solid 1px;
  text-align: justify;
}
@media screen and (max-width: 576px) {
  #index section#research article .divListResearch ul li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------Lobby------------------*/
/* Estilo del lobby*/
body main #lobby {
  min-height: 870px;
  padding-top: 4rem;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-ornamental-floral_52683-30016.jpg?w=1380&t=st=1678139359~exp=1678139959~hmac=bd4ca53cb6e5d2c046a0b9ecb40995e775c9d7a1d7ed811e77eab47fd667c915");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  body main #lobby {
    height: 70rem;
  }
}
body main #lobby article {
  display: grid;
  grid-template-areas: "presentation" "music";
  grid-template-rows: 20% 70%;
}
body main #lobby article .grid-container-presentation {
  grid-area: presentation;
}
body main #lobby article .grid-container-presentation .data {
  color: #ccc5b9;
}
body main #lobby article .grid-container-presentation .data h1 {
  text-align: center;
}
body main #lobby article .grid-container-presentation .data div p {
  width: 45%;
  text-align: center;
  max-height: 144px;
}
@media screen and (max-width: 768px) {
  body main #lobby article .grid-container-presentation .data div p {
    width: 60%;
    overflow-y: scroll;
  }
}
body main #lobby article .grid-container-music {
  grid-area: music;
  display: grid;
  grid-template-areas: "playlist" "music";
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 576px) {
  body main #lobby article .grid-container-music {
    display: block;
  }
}
body main #lobby article div div h2 {
  text-align: center;
  color: #ccc5b9;
}
body main #lobby article div div .listaVertical {
  width: fit-content;
  height: 55%;
  overflow-y: scroll;
}
@media screen and (max-width: 576px) {
  body main #lobby article div div .listaVertical {
    height: 20rem;
    margin-bottom: 2rem;
  }
}
body main #lobby article div div .listaVertical li {
  width: fit-content;
  height: fit-content;
}
body main #lobby article div div iframe {
  width: calc(25vw - 10px);
  height: calc(10vw - 10px);
  min-width: 250px;
  min-height: 200px;
}

body #softwares {
  margin-top: 4rem;
  background-color: #252422;
}
body #softwares section article {
  color: #ccc5b9;
  text-align: center;
}
body #softwares section article div p {
  width: 70%;
}
body #softwares section article div input {
  background-color: #ccc5b9;
}
body #softwares section article div h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #ccc5b9;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid #eb5e28;
}
.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  border: none;
  background-color: #252422;
}
.search button:hover {
  background-color: #eb5e28;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.card {
  border: none;
  background-color: dimgrey;
  border-radius: 0;
  margin: 0 0.5rem;
}
.card .card-title {
  margin-bottom: 1rem;
}
.card .card-text {
  margin-bottom: 1rem;
  width: 100%;
}

.card-software {
  height: 15rem;
}

.btn-primary {
  --bs-btn-color: #ccc5b9;
  --bs-btn-bg: #252422;
  --bs-btn-border-color: #252422;
  --bs-btn-hover-color: #ccc5b9;
  --bs-btn-hover-bg: #eb5e28;
  --bs-btn-hover-border-color: #eb5e28;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #ccc5b9;
  --bs-btn-active-bg: #eb5e28;
  --bs-btn-active-border-color: #eb5e28;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ccc5b9;
  --bs-btn-disabled-bg: #252422;
  --bs-btn-disabled-border-color: #252422;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5vh;
  height: 5vh;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  position: relative;
  box-shadow: 0 0 40px #252422;
}

body #databases {
  margin-top: 4rem;
  background-color: #252422;
}
body #databases section article {
  color: #ccc5b9;
  text-align: center;
}
body #databases section article div p {
  width: 70%;
  margin-bottom: 2rem;
}
body #databases section article div input {
  background-color: #ccc5b9;
}
body #databases section article div h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#carouselDatabases {
  height: 30rem;
}
#carouselDatabases .carousel-inner {
  height: 100%;
}

.card-database {
  height: 20rem;
}
.card-database .card-body {
  height: 100%;
}

body #contact {
  margin-top: 4rem;
  background-color: #252422;
}
body #contact section article {
  color: #ccc5b9;
  text-align: center;
}
body #contact section article div p {
  width: 70%;
  margin-bottom: 2rem;
}
body #contact section article div input {
  background-color: #ccc5b9;
}
body #contact section article div h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
body #contact form {
  width: 50%;
}
body #contact form fieldset legend {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
}
body #contact form fieldset textarea {
  height: 179px;
}
body #contact form .form-control {
  color: #252422;
  background-color: #ccc5b9;
  border: var(--bs-border-width) solid #252422;
}
body #contact form .form-control:focus {
  border-color: #eb5e28;
  box-shadow: 0 0 0 0.25rem #eb5e28;
}
body #contact button {
  width: 150px;
  height: 75px;
  border: 2px solid #eb5e28;
  margin-top: 1rem;
}

/* Estilos generales y fuentes */
a {
  color: #252422;
  text-decoration: none;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: medium;
  height: fit-content;
  margin: 0%;
}

ul {
  list-style-type: none;
  padding: 0%;
  margin: 0;
}

li {
  font-family: "Ubuntu", sans-serif;
  font-size: 90%;
}

iframe {
  width: 20rem;
  height: 10rem;
}

.separationVertical {
  padding-top: 2%;
  padding-bottom: 2%;
}

.separationHorizontal {
  padding-left: 2%;
  padding-right: 2%;
}

.imgSmall {
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.logoWide {
  width: 80%;
  height: 40%;
  min-width: 6rem;
  min-height: 1rem;
  max-width: 12rem;
  max-height: 4rem;
}

.logoMedium {
  width: 8rem;
  height: 3.5rem;
}
@media screen and (max-width: 576px) {
  .logoMedium {
    width: 6.2rem;
    height: 3rem;
  }
}

.widthAndHeightMax {
  width: 100%;
  height: 100%;
}

.fullScreen {
  height: 100vh;
  width: 100%;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/*# sourceMappingURL=styles.css.map */
