footer {
    position: relative;
    left: 0%;
    top: 0%;
    background-color: #ccc5b9;
    z-index: 40;
    min-width: 397px;
}

.grid-container-footer {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-areas:
        'social social social'
        'brioplants list-data list-data'
        'institutions institutions institutions'
        'copyright copyright copyright';
    grid-template-columns: 30% 40% auto;
    grid-template-rows: 20% 50% auto 5%;

    @include tablet {
        height: 35rem;
        grid-template-areas:
            'social social social'
            'brioplants list-data list-data'
            'institutions institutions institutions'
            'copyright copyright copyright';
        grid-template-columns: 30% 40% auto;
        grid-template-rows: 20% 50% auto 7%;
    }

    @include mobile {
        height: 40rem;
        grid-template-areas:
            'social'
            'list-data'
            'institutions'
            'brioplants'
            'copyright';
        grid-template-columns: 100%;
        grid-template-rows: 20% 30% 17% auto 6%;
    }
}

.social-networks-list {
    grid-area: social;
    background-color: #eb5e28;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-brioplants {
    grid-area: brioplants;
    align-self: center;
    justify-self: center;

    img {
        width: 10rem;
        height: 10rem;

        @include mobile {
            width: 8rem;
            height: 8rem;
        }
    }
}

.list-footer-container {
    grid-area: list-data;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
        font-size: 1.5rem;
        border-bottom: #252422 solid 2px;
        margin-bottom: 0.5rem;

        @include mobile {
            font-size: 1rem;
        }
    }

    li {
        padding-bottom: 0.2rem;

        a {
            font-size: 1rem;

            @include mobile {
                font-size: 0.8rem;
            }

            &:hover {
                color: #eb5e28;
                text-decoration: underline;
            }
        }
    }
}

.list-institutions {
    grid-area: institutions;
    overflow: hidden;
}

.copyright {
    grid-area: copyright;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: fit-content;

    p {
        @include tablet {
            font-size: 1rem;
        }

        @include mobile {
            font-size: 0.8rem;
        }
    }
}