/* ------------------Estilo del header y nav------------------*/

header {
    position: sticky;
    top: 0%;
    left: 0%;
    margin-top: -4rem;
    width: 100%;
    height: 4rem;
    min-width: 300px;
    background-color: #252422;
    z-index: 50;
}

.large-screen-options {
    font-size: 0.90rem;

    @include tablet {
        display: none;
    }
}

.medium-screen-options {
    display: none;

    @include tablet {
        display: block;
    }

    @include mobile {
        display: none;
    }
}

.grid-container-navBar {
    display: grid;
    grid-template-areas: ".link-logo-nav .large-screen-options button";
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;

    @include tablet {
        grid-template-areas: ".link-logo-nav .medium-screen-options svg";
    }

    @include mobile {
        grid-template-areas: ".link-logo-nav .medium-screen-options";
        grid-template-columns: 50% 50%;
    }
}

.dropdown-menu {
    @include tablet {
        background-color: #252422;
    }
}

.dropdown-item {
    @include tablet {
        color: #ccc5b9;
    }

    &:active {
        @include tablet {
            background-color: #eb5e28;
        }
    }
}

.link-logo-nav {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 5%;

        li a {
            color: #ccc5b9;
            font-size: 130%;

            &:hover {
                background-color: #eb5e28;
            }
        }
    }

    button {
        background-color: transparent;
        justify-self: end;
        height: 100%;
    }

    svg {
        color: #eb5e28;
    }
}

/* Estilo de los enlaces*/
.offcanvas {
    color: #ccc5b9;
    background-color: #252422;
}

.offcanvas-body-medium-large {
    @include mobile {
        display: none;
    }
}

.offcanvas-body-small {
    display: none;

    @include mobile {
        display: block;
    }
}

.btn {
    @include tablet {
        background-color: transparent;
        padding: 0%;
        border: none;
        color: #ccc5b9;
        font-size: 130%;

        &:hover {
            background-color: #eb5e28;
            border: none;
        }
    }
}

.btn-close {
    height: 80%;
    width: 10%;
    --bs-btn-close-bg: none;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(235, 94, 40, 0.25);

    svg {
        color: #eb5e28;
    }
}

.list-side-bar {
    text-align: center;

    li {
        font-size: 1rem;
        width: 100%;
        border: none;
        margin-top: 2rem;
        color: #ccc5b9;
        --bs-list-group-border-radius: none;
        --bs-list-group-border-width: none;
        --bs-list-group-bg: #252422;
        border-radius: none;

        &:hover {
            background-color: #eb5e28;
        }
    }
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item.active {
    color: var(--bs-list-group-active-color);
    background-color: #eb5e28;
    border-color: transparent;
}