/* Reset CSS, margin y padding, porque valor
 por defecto varía entre navegadores */
/*
*  html5resetcss
*/
/*
*  html5resetcss
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}