$height: auto;
$min-width: 300px;
$marginPorNav: 4rem;
$background:#252422;

body #contact {
    margin-top: $marginPorNav;
    background-color: $background;
    height: $height;
    min-width: $min-width;

    section {
        article {
            color: #ccc5b9;
            text-align: center;

            div {
                p {
                    width: 70%;
                    margin-bottom: 2rem;
                }

                input {
                    background-color: #ccc5b9;
                }

                h2 {
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }

    form {
        width: 55%;

        @include tablet {
            width: 75%;
        }

        @include mobile {
            width: 85%;
        }

        fieldset {
            legend {
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: auto;
            }

            textarea {
                height: 179px;
            }

            div {
                label {
                    overflow-wrap: break-word;
                }
            }
        }

        .form-control {

            color: #252422;
            background-color: #ccc5b9;
            border: var(--bs-border-width) solid #252422;
            ;

            &:focus {

                border-color: #eb5e28;
                box-shadow: 0 0 0 .25rem #eb5e28;
            }
        }
    }

    button {
        width: 150px;
        height: 75px;
        border: 2px solid #eb5e28;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}