$height: auto;
$min-width: 300px;
$marginPorNav: 4rem;
$background:#252422;

body #databases {
    margin-top: $marginPorNav;
    background-color: $background;
    height: $height;
    min-width: $min-width;

    section {
        article {
            color: #ccc5b9;
            text-align: center;

            div {
                p {
                    width: 70%;
                    margin-bottom: 2rem;
                }

                input {
                    background-color: #ccc5b9;
                }

                h2 {
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

/* Estilo de carousel */
#carouselDatabasesLarge {
    width: 75vw;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .card-databases {
        height: 30rem;
    }
}

#large-screen-databases {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;

    h5,
    p {
        width: fit-content;
        background-color: #252422;
    }

    h5 {
        border: #eb5e28 solid 2px;
    }

    @include mobile {
        display: none;
    }
}

#small-screen-databases {
    padding-bottom: 4rem;
    display: none;
    height: 27rem;

    .card-body {
        height: 24rem;

        h5,
        p {
            width: fit-content;
            background-color: #252422;
        }

        h5 {
            border: #eb5e28 solid 2px;
        }
    }

    @include mobile {
        display: flex;
        justify-content: center;
    }
}

/* Fondos */
$backgroundPosition: center;

.geo {
    background-image: url("../../images/database.svg");
    background-position: $backgroundPosition;
}
/home/atilio/Escritorio/Coderhouse/PreEntrega2Rausch/images
.ncbi {
    background-image: url("../../images/align.svg");
    background-position: $backgroundPosition;
}

.biostudies {
    background-image: url("../../images/protein-1.svg");
    background-position: $backgroundPosition;
}

.uniprot {
    background-image: url("../../images/protein-2.svg");
    background-position: $backgroundPosition;
}