body #databases {
    margin-top: 4rem;
    background-color: #252422;
    height: auto;
    min-width: 300px;

    section {
        article {
            color: #ccc5b9;
            text-align: center;

            div {
                p {
                    width: 70%;
                    margin-bottom: 2rem;
                }

                input {
                    background-color: #ccc5b9;
                }

                h2 {
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

#carouselDatabasesLarge {
    width: 75vw;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .card-databases {
        height: 30rem;
    }

    .carousel-inner {
        height: 100%;

        .card-body {
            height: 100%;
        }
    }
}

#large-screen-databases {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;

    @include mobile {
        display: none;
    }
}

#small-screen-databases {
    padding-bottom: 2rem;
    display: none;

    @include mobile {
        display: flex;
        justify-content: center;
    }
}