
/* ------------------Background------------------*/

.background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    position: relative;
}

.back-uno {
    background-color: #ccc5b9;
}

.back-dos {
    background-color: #252422;
}

.back-tres {
    background-color: #403d39;
}

/* ------------------Secciones index------------------*/

.float-bar {
    position: fixed;
    left: calc(100vw - 150px);
    top: calc(100vh - 150px);
    z-index: 30;
    li {
        a {
            color: #eb5e28;
            font-size: 1.3rem;
        }
    }
    .list-group-item {
        background-color: transparent;
        border-color: #eb5e28;
    }
    .list-group-item.active {
        background-color: #eb5e28;
        a{
            color: #252422;
        }
    }
    @include mobile{
        display: none;
    }
}
.list-group-item-action:focus, .list-group-item-action:hover {
    color: #eb5e28;
    background-color: inherit;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Tamaño y colores de texto de las secciones*/
main section#overview {
    padding-top: 4rem;
}
main section#about-us {
    padding-top: 4rem;
    color: #ccc5b9;
    @include mobile{
        height: 160vh;
    }
}
main section#research {
    padding-top: 4rem;
    color: #ccc5b9;
}

/* -----------Seccion overview-----------*/

main section#overview article div img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
} 

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #eb5e28;
}
/* -----------Seccion about-us-----------*/

/* Ubico imagen anexa de fondo (ADN dorado)*/
.divBackgroundImage {
    display: flex;
    justify-content: start;
    align-content: end;
    @include mobile{
        justify-content: center;
    }
    img{
        position: absolute;
        bottom: 0;
    }

}

main section#about-us article{
    display: grid;
    grid-template-areas:'presentation'
                        'cards'
                        'disciplines';
    grid-template-rows: 25% 50% auto;
    @include tablet{
        display: grid;
        grid-template-areas:'presentation'
                            'cards';
        grid-template-rows: 40% auto;
    }
}

.divPresentation{
    grid-area: presentation;
    text-align: center;

    div{
        p{
            width: 70%;
            border: #eb5e28 solid 2px;
            background-color: #403d39;
        }
    }
    @include tablet{
        div{
            p{
                width: 70%;
            }
        }
    }
}
.divCards{
    grid-area: cards;
    img{
        border-radius: 50%;
    }
}
.divDisciplines{
    grid-area: disciplines;
    text-align: center;
    ul{ 
        li {
            background-color: #eb5e28;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 4rem;
            width: 10rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            a{
                text-align: center;
                color: #ccc5b9;
                font-size: large;
                height: fit-content;
            }
        }
    }
    @include tablet{
        display: none;
    }
}
/* z index mayor para que pise a la imagen de fondo anexa*/
main section#about-us article .divPresentation {
    position: relative;
    z-index: 10;
    div{
        p{
            width: 60%;
        }
    }    
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  
  /* This container is needed to position the front and back side */

.flip-card {
    width: calc(22vw - 10px);
    height: calc(22vw - 10px);
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    perspective: 1000px;
}

  .flip-card-inner {
    position: relative;
    width: calc(22vw - 10px);
    height: calc(22vw - 10px);
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    border-radius: 50%;
    width: calc(22vw - 10px);
    height: calc(22vw - 10px);
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    img{
        width: calc(22vw - 10px);
        height: calc(22vw - 10px);
        min-width: 200px;
        min-height: 200px;
        max-width: 350px;
        max-height: 350px;
    }
}
  
  /* Style the back side */
.flip-card-back {
    background-color: #eb5e28;
    color: #ccc5b9;
    transform: rotateY(180deg);
    border-radius: 50%;
    width: calc(22vw - 10px);
    height: calc(22vw - 10px);
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    h3{
        margin-top: 1rem;
    }
    p{
        width: 60%;
    }
  }

/* -----------Sección research-----------*/

main section#research article{
    height: 100%;
    text-align: center;
    div{
        display: flex;
        justify-content: center;
        align-content: center;
        p{
            margin-bottom: 2rem;
            width: 70%;
            border: #eb5e28 solid 2px;
            background-color: #403d39;
        }
    }
    .divListResearch{
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        ul {
            width: 90%;
            height: 70%;
            overflow-y: scroll;
            li {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                border: 4px groove #ccc5b9;
                padding-top: 1%;
                padding-bottom: 1%;
                a{
                    display: flex;
                    align-items: center;
                    img {
                        aspect-ratio:12/12;
                        min-width: 200px;
                        width: calc(16vw - 10px);
                    }
                } 
                p {
                    border: #ccc5b9 solid 1px;
                    text-align: justify;
                }
                @include mobile{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }    
    }
}