/* ------------------Lobby------------------*/

/* Estilo del lobby*/
body main {
    #lobby {
        min-height: 870px;
        padding-top: 4rem;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;

        @include mobile {
            height: 70rem;
        }

        article {
            display: grid;
            grid-template-areas: 'presentation'
                'music';
            grid-template-rows: 20% 70%;

            .grid-container-presentation {
                grid-area: presentation;

                .data {
                    color: #ccc5b9;

                    h1 {
                        text-align: center;
                    }

                    div p {
                        width: 45%;
                        text-align: center;
                        max-height: 144px;

                        @include tablet {
                            width: 60%;
                            overflow-y: scroll;
                        }
                    }
                }
            }

            .grid-container-music {
                grid-area: music;
                display: grid;
                grid-template-areas: 'playlist'
                    'music';
                grid-template-columns: 50% 50%;

                @include mobile {
                    display: block;
                }
            }

            div div {
                h2 {
                    text-align: center;
                    color: #ccc5b9;
                }

                .listaVertical {
                    width: fit-content;
                    height: 55%;
                    overflow-y: scroll;

                    @include mobile {
                        height: 20rem;
                        margin-bottom: 2rem;
                    }

                    li {
                        width: fit-content;
                        height: fit-content;
                    }
                }

                iframe {
                    width: calc(25vw - 10px);
                    height: calc(10vw - 10px);
                    min-width: 250px;
                    min-height: 200px;
                }
            }
        }
    }
}