$height: auto;
$min-width: 300px;
$marginPorNav: 4rem;
$background:#252422;

body #softwares {
    margin-top: $marginPorNav;
    background-color: $background;
    height: $height;
    min-width: $min-width;

    section {
        article {
            color: #ccc5b9;
            text-align: center;

            div {
                p {
                    width: 70%;
                }

                input {
                    background-color: #ccc5b9;
                }

                h2 {
                    margin-bottom: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

/* Barra de búsqueda */
.search {
    align-items: center;

    input {
        height: 60px;
        text-indent: 25px;
        border: 2px solid #ccc5b9;

        &:focus {
            box-shadow: none;
            border: 2px solid #eb5e28;
        }


    }

    .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;

    }

    button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        border: none;
        background-color: #252422;

        &:hover {
            background-color: #eb5e28;
        }
    }
}

/* Estilo de carousel y cartas */
.cards-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    .card {
        border: none;
        border-radius: 0;
        margin: 0 0.5rem;
        width: 100%;

        .card-title {
            margin-bottom: 1rem;
        }

        .card-text {
            margin-bottom: 1rem;
            width: 100%;
        }

        h5,
        p {
            width: fit-content;
            background-color: #252422;
        }

        h5 {
            border: #eb5e28 solid 2px;
        }
    }
}

#large-screen-own-softwares,
#large-screen-external-softwares {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    height: 28rem;

    .card-body {
        height: 27rem;
    }

    @include mobile {
        display: none;
    }
}

#small-screen-own-softwares,
#small-screen-external-softwares {
    padding-bottom: 2rem;
    display: none;
    height: 20rem;

    .card-body {
        height: 18rem;
    }

    @include mobile {
        display: flex;
        justify-content: center;
    }
}

#carouselOwnSoftwaresLarge,
#carouselExternalSoftwaresLarge {
    width: 75vw;
}


.btn-primary {
    --bs-btn-color: #ccc5b9;
    --bs-btn-bg: #252422;
    --bs-btn-border-color: #252422;
    --bs-btn-hover-color: #ccc5b9;
    --bs-btn-hover-bg: #eb5e28;
    --bs-btn-hover-border-color: #eb5e28;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #ccc5b9;
    --bs-btn-active-bg: #eb5e28;
    --bs-btn-active-border-color: #eb5e28;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ccc5b9;
    --bs-btn-disabled-bg: #252422;
    --bs-btn-disabled-border-color: #252422;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5vh;
    height: 5vh;
    top: 50%;
    transform: translateY(-50%);
}


.search {
    position: relative;
    box-shadow: 0 0 40px #252422;

}

/* Fondos de cartas */
$backgroundPosition: center;

.frustratometer {
    background-image: url("../images/protein-1.png");
    background-position: $backgroundPosition;
}

.ensembl {
    background-image: url("../images/database.png");
    background-position: $backgroundPosition;
}

.kalign {
    background-image: url("../images/align.png");
    background-position: $backgroundPosition;
}

.clustalw {
    background-image: url("../images/align.png");
    background-position: $backgroundPosition;
}

.blastn {
    background-image: url("../images/align.png");
    background-position: $backgroundPosition;
}

.blastp {
    background-image: url("../images/protein-1.png");
    background-position: $backgroundPosition;
}

.blast {
    background-image: url("../images/align.png");
    background-position: $backgroundPosition;
}

.smartblast {
    background-image: url("../images/protein-2.png");
    background-position: $backgroundPosition;
}